table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid black;
    height: 70px;
    width: 70px;
}

img {
    height: 70px;
    width: 70px;
}

/*
čemu ovo služi a pritom ni ne radi?
šta rade ove 3 klase i zašto su u kodu?
*/

.blue {
    background-color: aqua;
}

.circle {
    border-radius: 50%;
}

.green {
    background-color: green;
}