body {
    background-color: azure;
    background-image: url("../resources/images17.jpg");
}

#wrapper {
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
}

header {
    background-image: url(../resources/grass.png);
    background-size: cover;
    height: 150px;
    border: 3px solid greenyellow;
    border-radius: 5px;
}

footer {
    border: 3px solid goldenrod;
    border-radius: 5px;
    width: 100%;
    background-color: blanchedalmond;
    font-size: 16px;
    color: rgb(59, 9, 9);
    padding: 7px;
}

.topMenu {
    background-color: rgb(65, 146, 65);
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 5px;
}

.topMenu a {
    font-size: 16px;
    padding: 15px;
    color: white;
    float: left;
    text-decoration: none;
}

.topMenu a:hover {
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
}

.article {
    background-color: white;  
    border: rgb(203, 203, 203) 1px;
    text-align: left;
    text-indent: 20px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    transition: transform 0.5s;
}

.article:hover {
    background-color: rgb(178, 248, 146);
    border: greenyellow 3px solid;
    transform: scale(1.09);
}

.article img {
    float: right;
    margin: 5px;
    padding: 5px;
}

#navigacija {
    float: right;
    width: 20%;
    background-color: rgb(65, 146, 65);
    border: 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

#navigacija ul {
    list-style-type: none;
    text-align: left;
    margin-bottom: 25px;
}

#navigacija li {
    margin-top: 25px;
    margin-bottom: 15px;
}

.navLink {
    background-color: azure;
    padding: 5px;
    color: gray;
    text-decoration: double;
    border-radius: 5px;    
}

.navLink:hover {
    border: rgb(40, 51, 40) solid 1px;
    border-radius: 5px;
    background-color: rgb(157, 175, 129);
    color: black;
}